@model IEnumerable<WebApplication3.Models.Libro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Libro Diario</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Crear nuevo</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cantidadPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Egresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaVenta)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.idLibro">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.idLibro">Detalles</a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.idLibro">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
