@model IEnumerable<WebApplication3.Models.Pago>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pago</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodPlato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodPlato)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.CodPago">Edit</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.CodPago">Details</a> |
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.CodPago">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
